<ul>
        <li>
		<a href="{{ prepend: site.baseurl | prepend: site.url }}">Home</a><span>/</span>
	</li>
	<li>
		<a href="{{ '/tags' | prepend: site.baseurl | prepend: site.url }}">Tags</a><span>/</span>
	</li>
	<li>
		<a href="{{ '/categories' | prepend: site.baseurl | prepend: site.url }}">Categories</a><span>/</span>
	</li>
	<li>
		<a href="{{ '/blog' | prepend: site.baseurl | prepend: site.url }}">Archives</a><span>/</span>
	</li>
	<li>
		<a href="{{ '/about' | prepend: site.baseurl | prepend: site.url }}">About</a><span>/</span>
	</li>
	{% if site.harmony.social.github %}
	<li>
		<a title="{{ site.harmony.social.github }} on Github" 
			href="https://github.com/zhangzhaoyu.github.io" target="_blank">
			Download
		</a><span>/</span>
	</li>
	{% endif %}
</ul>
